//COLOR PALETTE

//bg colors
$app-bg:#B3CDD1;
$header-bg:#d4d8f6;

//text colors
$primary-text-color:#363946;
$primary-text-active-color:#6c7cde;
//-----

//COMPONENT VARIABLES
//header 
$link-font-size:24px;