//COLOR PALETTE

//bg colors
$app-bg: #B3CDD1;
$header-bg: #d4d8f6;

//text colors
$primary-text-color: #363946;
$primary-text-active-color: #6c7cde;
$light-text-color: #E4DFDA;

//input colors
$button-confirm-bg: #5DA9E9;


//COMPONENT VARIABLES
//header 
$link-font-size: 24px;

//dynamic modal
$dynamic-modal-border-radius: 16px;